<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>MobileProtector</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIcons</key>
	<dict/>
	<key>CFBundleIcons~ipad</key>
	<dict/>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>URL_SCHEMES</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>kittyinstafollowers</string>
		<string>lunaoninsfollowers</string>
		<string>lunaoninslikes</string>
		<string>igprofollowerboost</string>
		<string>fb1509501142607042</string>
		<string>fb1614883058781591</string>
		<string>instagram</string>
		<string>instacrosspromotion5</string>
		<string>instacrosspromotion6</string>
		<string>instacrosspromotion7</string>
		<string>instacrosspromotion8</string>
		<string>instacrosspromotion9</string>
		<string>instacrosspromotion10</string>
		<string>instacrosspromotion11</string>
		<string>instacrosspromotion12</string>
		<string>instacrosspromotion13</string>
		<string>instacrosspromotion14</string>
		<string>instacrosspromotion15</string>
		<string>instacrosspromotion16</string>
		<string>instacrosspromotion17</string>
		<string>instacrosspromotion18</string>
		<string>instacrosspromotion19</string>
		<string>instacrosspromotion20</string>
		<string>instacrosspromotion21</string>
		<string>instacrosspromotion22</string>
		<string>instacrosspromotion23</string>
		<string>instacrosspromotion24</string>
		<string>instacrosspromotion25</string>
		<string>instacrosspromotion26</string>
		<string>instacrosspromotion27</string>
		<string>instacrosspromotion28</string>
		<string>instacrosspromotion29</string>
		<string>instacrosspromotion30</string>
		<string>instacrosspromotion31</string>
		<string>instacrosspromotion32</string>
		<string>instacrosspromotion33</string>
		<string>instacrosspromotion34</string>
		<string>instacrosspromotion35</string>
		<string>instacrosspromotion36</string>
		<string>instacrosspromotion37</string>
		<string>instacrosspromotion38</string>
		<string>instacrosspromotion39</string>
		<string>instacrosspromotion40</string>
		<string>instacrosspromotion41</string>
		<string>instacrosspromotion42</string>
		<string>instacrosspromotion43</string>
		<string>instacrosspromotion44</string>
		<string>instacrosspromotion45</string>
		<string>instacrosspromotion46</string>
		<string>instacrosspromotion47</string>
		<string>instacrosspromotion48</string>
		<string>instacrosspromotion49</string>
		<string>instacrosspromotion50</string>
		<string>instacrosspromotion51</string>
		<string>instacrosspromotion52</string>
		<string>instacrosspromotion53</string>
		<string>instacrosspromotion54</string>
		<string>instacrosspromotion55</string>
		<string>instacrosspromotion56</string>
		<string>instacrosspromotion57</string>
		<string>instacrosspromotion58</string>
		<string>instacrosspromotion59</string>
		<string>instacrosspromotion60</string>
		<string>instacrosspromotion61</string>
		<string>instacrosspromotion62</string>
		<string>instacrosspromotion63</string>
		<string>instacrosspromotion64</string>
		<string>instacrosspromotion65</string>
		<string>instacrosspromotion66</string>
		<string>instacrosspromotion67</string>
		<string>instacrosspromotion68</string>
		<string>instacrosspromotion69</string>
		<string>instacrosspromotion70</string>
		<string>instacrosspromotion71</string>
		<string>instacrosspromotion72</string>
		<string>instacrosspromotion73</string>
		<string>instacrosspromotion74</string>
		<string>instacrosspromotion75</string>
		<string>instacrosspromotion76</string>
		<string>instacrosspromotion77</string>
		<string>instacrosspromotion78</string>
		<string>instacrosspromotion79</string>
		<string>instacrosspromotion80</string>
		<string>instacrosspromotion81</string>
		<string>instacrosspromotion82</string>
		<string>instacrosspromotion83</string>
		<string>instacrosspromotion84</string>
		<string>instacrosspromotion85</string>
		<string>instacrosspromotion86</string>
		<string>instacrosspromotion87</string>
		<string>instacrosspromotion88</string>
		<string>instacrosspromotion89</string>
		<string>instacrosspromotion90</string>
		<string>instacrosspromotion91</string>
		<string>instacrosspromotion92</string>
		<string>instacrosspromotion93</string>
		<string>instacrosspromotion94</string>
		<string>instacrosspromotion95</string>
		<string>instacrosspromotion96</string>
		<string>instacrosspromotion97</string>
		<string>instacrosspromotion98</string>
		<string>instacrosspromotion99</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Some Ads serviced in this app requires your permission to access the Bluetooth.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Some Ads serviced in this app requires your permission to access the calendars.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>The app requres your permission to access the photos.</string>
	<key>UILaunchStoryboardName</key>
	<string>launch</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIPrerenderedIcon</key>
	<string>YES</string>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
